body{
    background-color: rgba(85, 85, 85, 0.637);
}
.box{
    background-color: rgb(233, 233, 233);   
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ListProducts{
    display: flex;
    width: 100%;
}
.promo, .opinion{
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0.2em;
}
.promoName{
    text-align: left;
    font-weight: bold;
}
.promoInfo{
    text-align: justify;
}
.promoPrice{
    color: #E74423;
    text-align: right;
    font-weight: bold;
    /*margin-right: 2em;*/
}
.testimoniosText{
    color: rgb(97, 9, 9);
}
.stars{
    display: flex;
    flex-direction: row;
    color: #EED600;
    margin: 0 1em;
}