body{
    background-color: rgba(85, 85, 85, 0.637);
}
.box{
    background-color: rgb(233, 233, 233);   
    color: rgb(0, 0, 0);
    width: 100%;
}
.stars{
    color:rgba(212, 212, 14, 0.548);
    display:flex;
    flex-direction: row;
}
.testimoniosText{
    color: rgb(65, 165, 118);
}