.ListProducts{
    display: flex;
    width: 100%;
}
.promo, .opinion{
    display: flex;
    background: rgba(231, 231, 231, 0.83);
    color: black;
    border-radius: 15px;
    width: 40%;
    margin: 1em;
}
.promoName{
    text-align: left;
    font-weight: bold;
}
.promoInfo{
    text-align: justify;
}
.promoPrice{
    color: #E74423;
    text-align: right;
    font-weight: bold;
    margin-right: 2em;
}

.stars{
    color: #EED600;
}